<ion-view title="Second Section">

  <ion-nav-buttons side="left">

    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

  </ion-nav-buttons>
  <ion-content has-header="true" padding="true">

    <h3>Second Section's home</h3>
    <a class="button button-fullwidth" nav-clear ui-sref="framework.home">Back to the Root</a>

  </ion-content>

  <div class="tabs tabs-icon-only">
    <a nav-clear class="tab-item disable-user-behavior active" title="Home" nav-clear ui-sref="frame.home">
      <i class="icon ion-home"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Chat" icon-on="ion-ios7-filing"
       icon-off="ion-ios7-filing-outline" ui-sref="framework.chat">
      <i class="icon ion-chatbubbles"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Drink" icon-on="ion-ios7-filing"
       icon-off="ion-ios7-filing-outline" ui-sref="framework.drink">
      <i class="icon ion-wineglass"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
  </div>
</ion-view>
