<ion-view hide-nav-bar="true" name="login-view" class="login">
	<ion-content class="padding tab-order-container" scroll="false" id="thunder-login" style="margin-top:30px;">
		<div class="row">
			<div class="thunder-img-logo"></div>
		</div>
		<div class="row">
			<div class="login-title">
				爱鲜蜂商户版V3.0.1
			</div>
		</div>
		<div class="list list-inset" style="margin-top: 5px;">
			<label class="item item-input">
				<div class="login-input-username"></div>
				<input class="login-input" type="text" placeholder="请输入用户名" ng-model="data.username">
			</label>

			<div class="row"></div>
			<label class="item item-input">
				<div class="login-input-password"></div>
				<input class="login-input" type="password" placeholder="请输入密码" ng-model="data.password">
			</label>
		</div>
		<div class="login-interact">
			<div class="row">
				<button class="button button-block button-energized" ng-click="login()">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
			</div>
			<div class="row">
				<div class="col col-50">
							<input type="checkbox" class="checkbox" ng-model="checkBoxEnabled" ng-change="changeRememberStatus()">
						<span class="inputspan">记住密码</span>
				</div>
				<div class="col" style="text-align: right" ng-click="popPassword()">修改密码</div>
			</div>
		</div>
	</ion-content>
</ion-view>
